* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  overflow-x: hidden;
  width: 100%;  
}
section, footer {
  overflow-x: hidden;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #070707;
  width: 100%;
}
.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: transparent !important;
  z-index: 3;
}

.navbar .show .NavLinks {
  width: 100%;
  background-color: #070707;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-around !important;
  text-align: center;
}

.navbar-toggler {
  border: 1px solid #f87765 !important;
  background-color: rgba(248, 119, 101, 0.2) !important;
  backdrop-filter: blur(3px);
  outline: none;
}

.navbar img {
  width: 100px;
}

.NavLinks {
  width: 100%;
}

.NavLinks a {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 0 10px;
  transition: all 0.5s ease-in-out;
}

.NavLinks a:hover {
  color: #f87765;
  transform: scale(1.1);
}

/* banner */
.Banner {
  background-color: #070707;
  padding: 100px 0;
}

.Banner .BannerText {
  padding-top: 100px;
}

.Banner .BannerText p {
  color: #f87765;
  font-weight: 600;
}

.Banner .BannerText p span {
  color: white;
}

.Banner .BannerText h1 {
  color: white;
  margin: 15px 0;
  font-size: 50px;
}

.Banner .BannerText h5 {
  color: hsla(0, 0%, 100%, 0.75) !important;
  margin: 20px 0;
  font-size: 25px;
}

.Banner .BannerText button {
  color: white;
  background-color: #f87765;
  border-radius: 10px;
  font-size: 18px;
  padding: 5px 20px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.Banner .BannerText button:hover {
  background-color: #e06758;
}

.Banner .BannerImgs {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Banner .BannerImgs .waves {
  width: 500px;
  overflow: hidden;
}

.Banner .BannerImgs .laptop {
  width: 400px;
  position: absolute;
  top: 50px;
  left: 70px;
}

.Banner .imgbox {
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(248, 119, 101, 0.2);
  backdrop-filter: blur(3px);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.Banner .gimg {
  left: 60px;
  bottom: 150px;
}

.Banner .wimg {
  left: 250px;
  top: 50px;
}

.Banner .uimg {
  right: 100px;
  bottom: 100px;
}

.imgbox img {
  width: 40px;
}

.HomeSec2 {
  background-color: #070707;
  padding: 50px 0;
}

.HomeSec2 .row {
  align-items: center;
}

.HomeSec2 .Sec2Imgs {
  position: relative;
}

.HomeSec2 .waves {
  width: 100%;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(23.279deg) skew(0deg, 0deg);
    overflow: hidden;
}

.HomeSec2 .people {
  position: absolute;
  width: 80%;
  top: 25%;
  left: 20%;
}

.HomeSec2 .sec2text button {
  color: white;
  border: 1px solid #f87765;
  background-color: #070707;
  border-radius: 10px;
  font-size: 18px;
  padding: 5px 20px;
  margin-bottom: 20px;
}

.HomeSec2 .sec2text p {
  color: white;
  font-size: 25px;
  font-weight: 600;
}
.HomeSec3 {
  background-color: #070707;
}

.HomeSec3 .SecText {
  padding: 50px 100px;
  display: flex;
  align-items: baseline;
}

.HomeSec3 .SecText h3 {
  color: white;
  font-size: 50px;
  font-weight: 600;
  margin-right: 30px;
}

.HomeSec3 .SecText a {
  color: #f87765;
  font-size: 20px;
  text-decoration: none;
}

.HomeSec3 .swiper-slide {
  padding: 20px;
  overflow: hidden;
}

.HomeSec3 .swiper-slide img {
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
}

.HomeSec3 .swiper-pagination-bullet {
  background-color: #f87765;
  height: 15px;
  width: 15px;
}

.HomeSec3 .swiper-pagination {
  bottom: 0 !important;
}
/* fourth section  */
.HomeSec4 {
  background-color: #070707;
  padding: 100px;
  position: relative;
}

.HomeSec4 h3 {
  font-size: 50px;
  color: white;
  text-align: center;
}

.HomeSec4 .waves {
  position: absolute;
  top: 10%;
  width: 50%;
  left: 25%;
  height: 80%;
  object-fit: contain;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(19.9363deg) skew(0deg, 0deg);
    overflow: hidden;
}

.HomeSec4 .divLeft,
.HomeSec4 .divRight {
  width: 50%;
  background-color: rgba(248, 119, 101, 0.2);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.HomeSec4 .divLeft {
  margin-right: auto;
}

.HomeSec4 .divRight {
  margin-left: auto;
}

.HomeSec4 .divLeft img,
.HomeSec4 .divRight img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.HomeSec4 .divLeft h5,
.HomeSec4 .divRight h5 {
  color: white;
}

.HomeSec4 .divLeft p,
.HomeSec4 .divRight p {
  color: hsla(0, 0%, 100%, 0.75);
}
/* fifth section  */
.HomeSec5 {
  background-color: #070707;
  padding: 100px;
  text-align: center;
}

.HomeSec5 h2 {
  text-align: center;
  color: white;
  font-size: 40px;
}

.HomeSec5 .col-md-4 div {
  background-color: rgba(248, 119, 101, 0.2);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  padding: 30px 20px 50px;
  height: 550px;
  margin-top: 20px;
}

.HomeSec5 h5 {
  color: #f87765;
  font-weight: 400;
  font-size: 18px;
}

.HomeSec5 h3 {
  color: white;
  font-weight: 400;
}

.HomeSec5 .col-md-4 img {
  width: 80%;
  height: 300px;
}

.HomeSec5 .col-md-4 p {
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: 20px;
}
/* sixth section  */
.HomeSec6 {
  background-color: #070707;
  padding: 100px;
}

.HomeSec6 h3 {
  text-align: center;
  color: white;
  font-size: 40px;
  margin-bottom: 30px;
}

.HomeSec6 p {
  color: white;
  font-weight: 400;
  font-size: 25px;
  text-align: left;
}

.HomeSec6 p span {
  color: #f87765;
  font-weight: 400;
  margin-right: 10px;
}

.HomeSec6 form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  margin: auto;
  text-align: left;
  direction: ltr;
}

.HomeSec6 form input,
.HomeSec6 form textarea,
.HomeSec6 form select {
  width: 100%;
  margin: 20px 0;
  border-radius: 60px;
  padding: 10px 16px;
  outline: none;
  border: 1px solid rgba(248, 118, 101, 0.463);
  color: white;
  background-color: #070707;
  margin-right: 10px;
}

.HomeSec6 form input::placeholder,
.HomeSec6 form textarea::placeholder {
  color: rgb(223, 222, 222);
  font-size: 20px;
  text-align: left;
  padding: 20px;
}

.HomeSec6 button {
  display: inline-block;
  background-color: rgba(248, 118, 101, 0.463);
  backdrop-filter: blur(3px);
  border: none;
  color: white;
  padding: 10px 10px;
  border-radius: 1%;
  margin: 10px 0;
  width: 250px;
  font-size: 18px;
  margin: 20px 0;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
  transition: all 1s ease-in-out;
}

.HomeSec6 button:hover {
  color: #f87765;
  text-decoration: none;
  background-color: white;
}

footer {
  background-color: #070707;
  padding: 50px 50px;
}

footer img {
  width: 100px;
}

footer a {
  display: inline-block;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 10px 5px;
  transition: all 0.5s ease-in-out;
}

footer a:hover {
  color: #f87765;
  transform: scale(1.1);
}

footer .IconSdiv {
  display: flex;
  justify-content: flex-end;
}

footer .IconSdiv svg {
  font-size: 35px;
  margin-left: 20px;
}

footer .copyright {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: white;
}

footer .copyright p:nth-child(2) {
  margin-left: 20px;
}

/*****projects*************/
.AllProjectSec {
  background-color: #070707;
  padding: 100px 0;
  min-height: 100vh;
  position: relative;
}

.AllProjectSec h3 {
  text-align: center;
  color: #f87765;
  font-size: 40px;
  font-weight: 400;
}

.AllProjectSec .waves {
  position: absolute;
  height: 500px;
}

.AllProjectSec .col-md-4 {
  padding: 20px;
  z-index: 2;
  margin-top: 50px;
}

.AllProjectSec .col-md-4 div {
  z-index: 2;
  background-color: #1d1d1f;
  min-height: 400px;
  border-radius: 2%;
  padding: 20px;
}

.AllProjectSec .col-md-4 div img {
  width: 100%;
  border-radius: 2%;
}

.AllProjectSec .col-md-4 div h5 {
  color: white;
  font-size: 30px;
  margin: 10px 0;
  text-transform: capitalize;
}

.AllProjectSec .col-md-4 div p {
  color: rgb(223, 222, 222);
  font-weight: 400;
}

.AllProjectSec .col-md-4 div a {
  color: #f87765;
  text-decoration: none;
  font-size: 20px;
}
/* responsive */
@media only screen and (max-width: 768px) {
  .Banner .BannerImgs .waves {
    width: 300px;
    margin-top: 30px;
    overflow: hidden;
  }
  .Banner .BannerImgs .laptop {
    width: 240px;
    top: 35px;
    left: 19%;
    transform: translateX(-50%);
  }
  .Banner .imgbox {
    width: 60px;
    height: 60px;
  }
  .Banner .gimg {
    left: 20%;
    bottom: 100px;
  }
  .Banner .wimg {
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
  }
  .Banner .uimg {
    left: 88%;
    bottom: 100px;
    transform: translateX(-90%);
  }
  .imgbox img {
    width: 30px;
  }
  .HomeSec3 .SecText {
    padding: 100px 10px;
  }
  .HomeSec3 .SecText h3 {
    margin: 0;
    font-size: 25px;
  }
  .HomeSec4 {
    padding: 100px 10px;
  }
  .HomeSec5 {
    padding: 100px 0;
  }
  .HomeSec5 .col-md-4 div {
    min-height: 700px;
  }
  .HomeSec4 .divLeft,
  .HomeSec4 .divRight {
    flex-wrap: wrap;
    width: 100%;
  }
  .HomeSec6 {
    padding: 100px 0;
  }
  .HomeSec6 .d-flex {
    flex-wrap: wrap;
  }
  .AllProjectSec {
  background-color: #070707;
  padding: 30px 0 10px;
  min-height: 100vh;
  position: relative;
}
}
@media (min-width: 820px) and (max-width: 900px) {
  .HomeSec5 {
    padding: 80px 20px;
    text-align: center;
  }
  .HomeSec5 .col-md-4 img {
    width: 80%;
    height: 150px;
    margin: 10px 0 0 0;
  }
  .HomeSec5 h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .service-box {
    padding: 20px;
    margin-bottom: 40px;
    text-align: center;
  }

  .service-box img {
    width: 80px;
    height: auto;
    margin-bottom: 15px;
  }

  .service-box h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .service-box p {
    font-size: 16px;
    line-height: 1.5;
  }

  .Banner .BannerImgs .waves {
    width: 350px;
  }

  .Banner .BannerImgs .laptop {
    width: 260px;
    top: 40px;
  }

  .HomeSec4 .divLeft,
  .HomeSec4 .divRight {
    flex-wrap: wrap;
    width: 100%;
  }
  .HomeSec6 {
    padding: 100px 0;
  }
  .HomeSec6 .d-flex {
    flex-wrap: wrap;
  }
  .AllProjectSec .col-md-4 div h5 {
  color: white;
  font-size: 23px;
  margin: 10px 0;
  text-transform: capitalize;
}
    .Banner .gimg {
        left: -2%;
        top: 66px;
    }
    .Banner .uimg {
    right: 118px;
    bottom: 170px;
}
.Banner .BannerImgs .laptop {
        width: 260px;
        top: 67px;
        left: 56px;
    }
    .Banner .wimg {
    left: 204px;
    top: 41px;
}
}


